$primary: #000000;
$secundary: #a1a1a1;
$clear: #ff0000;
$white: #ffffff;
$font1: Oswald, tahoma;
$font2: tahoma, verdana;
$margin: 20px;
$flexp: #ffdbdb;

* {
  padding: 0;
  margin: 0;
}

.header {
  background: $primary;
  color: $secundary;
  padding: $margin;
  .header-logo img {
    width: 20%;
    height: 100%;
  } 
}

.header-nav {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin: $margin;
      a {
        color: $secundary;
        text-decoration: none;
        font: 120% $font1;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: $clear;
        }
      }
    }
  }
}

.header {
  border-bottom: 3px solid #ff0000;
}

.video {
    width: 100%;
    height: 1%;
    border-bottom: 3px solid #ff0000;
}


.footer {
  position: relative;
  bottom: 0%;
  background: $primary;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;
  color: $white;
  text-align: center;
  font: 20px $font1;
}

.fixo {
  position: fixed;
  bottom: 0%;
  background: $primary;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 100%;
  color: $white;
  text-align: center;
  font: 20px $font1;
}
container {
  width: 1000px;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .flex-coluna {
    width: 30%;
    margin: $margin;
    padding: $margin;
    box-shadow: 0 0 $margin $secundary;
    text-align: center;
    font: 20px $font2;
      img{
        max-width: 100%;
        max-height: 100%;
      }
  }
}

h1 {
  font: 30px $font1;
  text-align: center;
  font-weight: bold;
  margin: $margin;
}


.logocybertech {
  height: 8%;
  width: 8%;
}

.logo {
  max-height: 15%;
  max-width: 15%;
  padding: 0;
}

.logo-centro {
  max-height: 40%;
  max-width: 40%;
  padding: 0;
}

.banner {
  width: 100%;
  max-height: 10%;
  height: auto; 
  border-bottom: 3px solid red;

}

.capa{
  max-width: 30%;
  max-height: 30%;
  align-items: left;
  box-shadow: 0 0 $margin $secundary;
  margin-left: 3%;
  margin-right: 3%;
}

.conteiner-capa{
  padding-left: 3%;
  padding-right: 3%;
  font-family: $font2;
  text-align: left;
  display: flex;
}


.textocentro{
  text-align: center;
  font: 100% $font2;
}

.centro { 
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  font-family: $font2;;
}

input,
textarea {
  background: #e0e0e0;
  height: 10%;
  width: 80%;
  border: 1px solid #000000;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

button {
  background: $secundary;
  padding: 10px;
  border: 0;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.5s;
}
 
button:hover,
button:focus {
  background: rgb(255, 0, 0);
}


.flexp{
  background: $flexp;
  padding: 15px;
  margin: 0px;
}

.textoflex{
  color: $primary;
  font-family: $font2;
  text-decoration: none;
  &:hover {
    color: rgb(91, 0, 0);  
  }
  
}

.p {
  font: 15px $font2;
  text-align: center;
  margin: $margin;
}

.gif-alex{
  height: 10%;
  width: 10%;
}


.gif-agradecimento{
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
}

.conteiner-centro{ 
  font-family: $font2;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; 
}

.jogocentro{
  align-items: center;
  margin: auto;
  text-align: center;
}

.centroiframe{
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.botao {
  font-family: $font1;
  font-weight: bold;
}

.botao-jogo{
    font-family: $font1;
    font-weight: bold;
}


//mobile
@media (max-width: 486px) {

  .header-nav {
    ul {
      list-style: none;
      li {
        display: inline-block;
        text-align: center;
        align-items: center;
        margin: auto;
        a {
          color: $secundary;
          text-decoration: none;
          font: 100% $font1;
          font-weight: bold;
          text-transform: uppercase;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: auto;
          margin-bottom: auto;
          &:hover {
            color: $clear;
          }
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0%;
    background: $primary;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: auto;
    width: 100%;
    color: $white;
    text-align: center;
    font: 20px $font1;
  }

  .logo {
    max-height: 20%;
    max-width: 20%;
    padding: auto;
    margin: auto;
  }

  .gif-alex{
    height: 30%;
    width: 30%;
  }

  .capa{
    display: none !important;
    opacity: 0;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-coluna {
      width: 50%;
      margin: $margin;
      padding: $margin;
      box-shadow: 0 0 $margin $secundary;
      text-align: center;
      font: 20px $font2;
        img{
          max-width: 100%;
          max-height: 100%;
        }
    }
  }

    .jogocentro {
      display: none !important;
      opacity: 0;
  }


  .gif-alex{
      display: none !important;
    }

  .botao-jogo{
    display: none !important;
  }

  .logocybertech {
    height: 15%;
    width: 15%;
    margin-bottom: -3%;
  }

}
